In [3]:
import pandas as pd
import os

In [2]:
punt_path=r"C:\Users\91897\Desktop\cleaned"
for files_punt in os.listdir(punt_path):
    print(files_punt)

punting1.csv
punting10.csv
punting2.csv
punting3.csv
punting4.csv
punting5.csv
punting6.csv
punting7.csv
punting8.csv
punting9.csv

In [38]:


dfs1 = []

for files_punt in os.listdir(punt_path):
    if files_punt.endswith('.csv'):
        # Read the CSV file into a DataFrame
        df1 = pd.read_csv(os.path.join(punt_path,files_punt))
        column_name = 'Player'
        df1 = df1.drop(columns=['Player'])
        
        # Remove leading and trailing spaces from column names
        df1.columns = df1.columns.str.strip()
        
        # Group by Team and aggregate the data
        grouped1 = df1.groupby(['Team']).agg({
            'year': 'first',
            'Yds': 'sum',
            'Avg': 'mean',
            'Punts': 'sum',
            'Lg': 'sum',
            'TB': 'sum',
            'In20': 'sum',
            'Blk': 'sum',
            'Net': 'mean',
            'Ret': 'sum',
            'RYds': 'sum'
        }) 
        grouped1['Avg'] = grouped1['Avg'].round(2)
        
        # Rename the columns for clarity
        grouped1.columns = [
            'year',
            'punting_Yds',
            'punting_Avg',
            'Total_Punts',
            'punting_Lg',
            'punting_TB',
            'punting_In20',
            'punting_Blk',
            'punting_Net',
            'punting_Ret',
            'punting_RYds'
        ]
        
        # Append the DataFrame to the list
        dfs1.append(grouped1)

combined_df1 = pd.concat(dfs1, ignore_index=False)
print(combined_df1)

      year  punting_Yds  punting_Avg  Total_Punts  punting_Lg  punting_TB  \
Team
ALA   2009         2407         41.5           58         0.0         0.0
ARK   2009         2359         38.7           61         0.0         0.0
AUB   2009         2612         40.8           64         0.0         0.0
KY    2009         2557         40.0           64         0.0         0.0
LSU   2009         1876         39.9           47         0.0         0.0
...    ...          ...          ...          ...         ...         ...
SCAR  2017         2390         43.5           55        73.0         4.0
TAMU  2017         3776         45.5           83        64.0         6.0
TENN  2017         3323         47.5           70        72.0         5.0
UGA   2017         2744         45.0           61        61.0         4.0
VAN   2017         2575         40.2           64        56.0         4.0

      punting_In20  punting_Blk  punting_Net  punting_Ret  punting_RYds
Team
ALA            0.0            0          NaN          0.0           0.0
ARK            0.0            0          NaN          0.0           0.0
AUB            0.0            0          NaN          0.0           0.0
KY             0.0            0          NaN          0.0           0.0
LSU            0.0            0          NaN          0.0           0.0
...            ...          ...          ...          ...           ...
SCAR          15.0            0         40.5         15.0          84.0
TAMU          26.0            1         41.8         18.0         146.0
TENN          28.0            0         43.0         29.0         216.0
UGA           26.0            0         42.0         17.0         101.0
VAN           14.0            0         36.5         16.0         161.0

[126 rows x 11 columns]

In [4]:
receiving_path=r"C:\Users\91897\Desktop\cleaned_receiving"
for files_rec in os.listdir(receiving_path):
    print(files_rec)

RECEIVING1.csv
RECEIVING10.csv
RECEIVING2.csv
RECEIVING3.csv
RECEIVING4.csv
RECEIVING5.csv
RECEIVING6.csv
RECEIVING7.csv
RECEIVING8.csv
RECEIVING9.csv

In [39]:
dfs2 = []
for files_rec in os.listdir(receiving_path):
        if files_rec.endswith('.csv'):
            # Read the CSV file into a DataFrame
            df2 = pd.read_csv(os.path.join(receiving_path,files_rec))
            column_name = 'Player'
            df2 = df2.drop(columns=['Player'])
            # Group by Team and aggregate the data
            grouped2 = df2.groupby('Team').agg({ 'year':'first','Rec': 'sum', 'Yds': 'sum', 'Avg':'mean','Lg':'sum','TD':'sum'})
            grouped2['Avg'] = grouped2['Avg'].round(2)
            # Rename the columns for clarity
            grouped2.columns = [ 'year','receiving_Rec', 'receiving_Yds','receiving_Avg','receiving_Lg','receiving_TD']
            # Append the DataFrame to the list
            dfs2.append(grouped2)
combined_df2 = pd.concat(dfs2, ignore_index=False)
print(combined_df2)

      year  receiving_Rec  receiving_Yds  receiving_Avg  receiving_Lg  \
Team
ALA   2009            194           2435          11.68           0.0
ARK   2009            217           3424          14.38           0.0
AUB   2009            186           2428          11.86           0.0
FLA   2009            232           3090          11.86           0.0
KY    2009            152           1548           9.57           0.0
...    ...            ...            ...            ...           ...
SCAR  2017            223           2614          10.94         314.0
TAMU  2017            229           3028          12.55         381.0
TENN  2017            132           1541          11.82         219.0
UGA   2017            139           2148          14.82         263.0
VAN   2017            192           2501          13.01         243.0

      receiving_TD
Team
ALA             17
ARK             27
AUB             21
FLA             23
KY              10
...            ...
SCAR            18
TAMU            22
TENN             9
UGA             20
VAN             24

[134 rows x 6 columns]

In [6]:
def_path=r"C:\Users\91897\Desktop\cleaned_def"
for files_def in os.listdir(def_path):
    print(files_def)

def.csv
def10.csv
def2.csv
def3.csv
def4.csv
def5.csv
def6.csv
def7.csv
def8.csv
def9.csv

In [41]:
dfs3 = []
for files_def in os.listdir(def_path):
        if files_def.endswith('.csv'):
            # Read the CSV file into a DataFrame
            df3 = pd.read_csv(os.path.join(def_path,files_def))
            column_name = 'Player'
            df3 = df3.drop(columns=['Player'])
            # Group by Team and aggregate the data
            grouped3 = df3.groupby('Team').agg({ 'year':'first','Int': 'sum', 'Yds': 'sum', 'Avg':'mean','Lg':'sum','TD':'sum','Solo':'sum','Ast':'sum','Tot':'sum','Sack':'sum','YdsL':'sum'})
            grouped3['Avg'] = grouped3['Avg'].round(2)
            # Rename the columns for clarity
            grouped3.columns = [ 'year','defense_int', 'defense_Yds','defense_Avg','defense_Lg','defense_TD','defense_solo','defense_Ast','defense_Total','defense_Sack','defense_YdsL']
            # Append the DataFrame to the list
            dfs3.append(grouped3)
combined_df3 = pd.concat(dfs3, ignore_index=False)
print(combined_df3)

      year  defense_int  defense_Yds  defense_Avg  defense_Lg  defense_TD  \
Team
ALA   2009           24          319        14.49         0.0           2
ARK   2009           13          222        17.41         0.0           2
AUB   2009           17          243         9.24         0.0           4
FLA   2009           20          199        11.51         0.0           3
KY    2009           16          258        13.81         0.0           3
...    ...          ...          ...          ...         ...         ...
SCAR  2017           14          140         9.05        98.0           2
TAMU  2017           10           75         7.28        74.0           2
TENN  2017            5          186        31.00       186.0           2
UGA   2017           12          173        10.10        98.0           0
VAN   2017            7           65         9.58        65.0           0

      defense_solo  defense_Ast  defense_Total  defense_Sack  defense_YdsL
Team
ALA            336          239            575          25.5           223
ARK            292          160            452           7.0            59
AUB            324          195            519          16.5           124
FLA            311          182            493          15.5           101
KY             178          105            283           1.5             6
...            ...          ...            ...           ...           ...
SCAR           197           60            257           5.0            28
TAMU           206          153            359          11.5            76
TENN           220          172            392           1.0             2
UGA            160           97            257           3.5            36
VAN            184          105            289           4.5            29

[134 rows x 11 columns]

In [8]:
kick_path=r"C:\Users\91897\Desktop\cleaned_kick"
for files_kick in os.listdir(kick_path):
    print(files_kick)

kick1.csv
kick10.csv
kick2.csv
kick3.csv
kick4.csv
kick5.csv
kick6.csv
kick7.csv
kick8.csv
kick9.csv

In [43]:
dfs4 = []
for files_kick in os.listdir(kick_path):
        if files_kick.endswith('.csv'):
            # Read the CSV file into a DataFrame
            df4 = pd.read_csv(os.path.join(kick_path,files_kick))
            column_name = 'Player'
            df4 = df4.drop(columns=['Player'])
            # Group by Team and aggregate the data
            grouped4 = df4.groupby('Team').agg({ 'year':'first','PAT_successful': 'sum','PAT_total': 'sum', 'FG_successful':'sum', 'FG_total':'sum','0-19_successful':'sum','0-19_total':'sum','20-29_successful':'sum','20-29_total':'sum','30-39_successful':'sum','30-39_total':'sum','40-49_successful':'sum','40-49_total':'sum','50+_successful':'sum','50+_total':'sum','Lg':'sum','Pts':'sum'})
            # Rename the columns for clarity
            grouped4.columns = [ 'year','kicking_PAT_successful','kicking_PAT_total', 'kicking_FG_successful','kicking_FG_total','0-19_successful','0-19_total','20-19_successful','20-19_total','30-39_successful','30-39_total','40-49_successful','40-49_total','50+_successful','50+_total','kicking_Lg','kicking_Pts']
            # Append the DataFrame to the list
            dfs4.append(grouped4)
combined_df4 = pd.concat(dfs4, ignore_index=False)
print(combined_df4)

      year  kicking_PAT_successful  kicking_PAT_total  kicking_FG_successful  \
Team
ALA   2009                    42.0               46.0                   30.0
ARK   2009                    58.0               59.0                   16.0
AUB   2009                    54.0               54.0                   15.0
FLA   2009                    58.0               63.0                   22.0
KY    2009                    40.0               41.0                    0.0
...    ...                     ...                ...                    ...
SCAR  2017                    26.0               26.0                   14.0
TAMU  2017                    51.0               52.0                   18.0
TENN  2017                    25.0               25.0                    0.0
UGA   2017                    63.0               63.0                   20.0
VAN   2017                    39.0               40.0                    0.0

      kicking_FG_total  0-19_successful  0-19_total  20-19_successful  \
Team
ALA               36.0              0.0         0.0               0.0
ARK               22.0              0.0         0.0               0.0
AUB               16.0              0.0         0.0               0.0
FLA               31.0              0.0         0.0               0.0
KY                 0.0              0.0         0.0               0.0
...                ...              ...         ...               ...
SCAR              25.0              0.0         0.0               0.0
TAMU              22.0              0.0         0.0               0.0
TENN               0.0              0.0         0.0               0.0
UGA               23.0              0.0         0.0               0.0
VAN                0.0              0.0         0.0               0.0

      20-19_total  30-39_successful  30-39_total  40-49_successful  \
Team
ALA           0.0               0.0          0.0               0.0
ARK           0.0               0.0          0.0               0.0
AUB           0.0               0.0          0.0               0.0
FLA           0.0               0.0          0.0               0.0
KY            0.0               0.0          0.0               0.0
...           ...               ...          ...               ...
SCAR          0.0               0.0          0.0               0.0
TAMU          0.0               0.0          0.0               0.0
TENN          0.0               0.0          0.0               0.0
UGA           0.0               0.0          0.0               0.0
VAN           0.0               0.0          0.0               0.0

      40-49_total  50+_successful  50+_total  kicking_Lg  kicking_Pts
Team
ALA           0.0             0.0        0.0         0.0          133
ARK           0.0             0.0        0.0         0.0          106
AUB           0.0             0.0        0.0         0.0           99
FLA           0.0             0.0        0.0         0.0          124
KY            0.0             0.0        0.0         0.0           73
...           ...             ...        ...         ...          ...
SCAR          1.0             0.0        2.0        79.0           81
TAMU          1.0             0.0        0.0        52.0          105
TENN          0.0             0.0        0.0       100.0           70
UGA           0.0             0.0        0.0        74.0          127
VAN           0.0             0.0        1.0        42.0           49

[134 rows x 17 columns]

In [44]:
kor_path=r"C:\Users\91897\Desktop\cleaned_kor"
for files_kor in os.listdir(kor_path):
    print(files_kor)

kor1.csv
kor10.csv
kor2.csv
kor3.csv
kor4.csv
kor5.csv
kor6.csv
kor7.csv
kor8.csv
kor9.csv

In [23]:
pas_path=r"C:\Users\91897\Desktop\cleaned_passing"
for files_pas in os.listdir(pas_path):
    print(files_pas)

pas1.csv
pas10.csv
pas2.csv
pas3.csv
pas4.csv
pas5.csv
pas6.csv
pas7.csv
pas8.csv
pas9.csv

In [45]:
import os
import pandas as pd

dfs5 = []

for files_kor in os.listdir(kor_path):
    if files_kor.endswith('.csv'):
        # Read the CSV file into a DataFrame
        df5 = pd.read_csv(os.path.join(kor_path, files_kor))
        column_name = 'Player'
        df5 = df5.drop(columns=['Player'])
        
        # Remove leading and trailing spaces from column names
        df5.columns = df5.columns.str.strip()
        
        # Group by Team and aggregate the data
        grouped5 = df5.groupby('Team').agg({
            'year': 'first',
            'Num': 'sum',
            'Yds': 'sum',
            'Avg': 'mean',
            'FC': 'sum',
            'Lg': 'sum',
            'TD': 'sum'
        }) 
        grouped5['Avg'] = grouped5['Avg'].round(2)
        
        # Rename the columns for clarity
        grouped5.columns = [
            'year',
            'kickoff-return_Num',
            'kickoff-return_Yds',
            'kickoff-return_Avg',
            'kickoff-return_FC',
            'kickoff-return_Lg',
            'kickoff-return_TD'
        ]
        
        # Append the DataFrame to the list
        dfs5.append(grouped5)

combined_df5 = pd.concat(dfs5, ignore_index=False)
print(combined_df5)

      year  kickoff-return_Num  kickoff-return_Yds  kickoff-return_Avg  \
Team
ALA   2009                  33                 791               15.21
ARK   2009                  54                1283               21.07
AUB   2009                  63                1493               20.45
FLA   2009                  40                1055               24.64
KY    2009                  56                1316               18.18
...    ...                 ...                 ...                 ...
SCAR  2017                  33                 713               23.44
TAMU  2017                  42                 905               16.57
TENN  2017                  32                 680               17.29
UGA   2017                  26                 612               14.04
VAN   2017                  30                 659               18.70

      kickoff-return_FC  kickoff-return_Lg  kickoff-return_TD
Team
ALA                 0.0                0.0                  0
ARK                 0.0                0.0                  1
AUB                 0.0                0.0                  1
FLA                 0.0                0.0                  1
KY                  0.0                0.0                  1
...                 ...                ...                ...
SCAR                1.0              220.0                  2
TAMU                0.0              309.0                  1
TENN                0.0              198.0                  1
UGA                 3.0              114.0                  0
VAN                 0.0              112.0                  0

[134 rows x 7 columns]

In [48]:
dfs6= []
for files_pas in os.listdir(pas_path):
        if files_pas.endswith('.csv'):
            # Read the CSV file into a DataFrame
            df6 = pd.read_csv(os.path.join(pas_path,files_pas))
            column_name = 'Player'
            df6 = df6.drop(columns=['Player'])
            # Group by Team and aggregate the data
            grouped6 = df6.groupby('Team').agg({'year':'first','Att':'sum','Cmp':'sum','Pct':'mean','Yds':'sum','TD':'sum','TD%':'mean','Int':'sum','Int%':'mean','Lg':'sum','Sack':'sum','Loss':'sum','Rate':'mean'})
            grouped6['Pct'] = grouped6['Pct'].round(2)
            grouped6['TD%'] = grouped6['TD%'].round(2)
            grouped6['Int%'] = grouped6['Int%'].round(2)
            grouped6['Rate'] = grouped6['Rate'].round(2)
            # Rename the columns for clarity
            grouped6.columns = ['year','passing_Att','passing_Cmp','passing_Pct','passing_Yds','passing_TD','passing_TD%','passing_Int','passing_Int%','passing_Lg','passing_Sack','passing_Loss','passing_rate']
            # Append the DataFrame to the list
            dfs6.append(grouped6)
combined_df6 = pd.concat(dfs6, ignore_index=False)
print(combined_df6)

      year  passing_Att  passing_Cmp  passing_Pct  passing_Yds  passing_TD  \
Team
ALA   2009          346          212        45.78         2631          17
ARK   2009          439          247        58.45         3842          32
AUB   2009          363          218        56.23         2857          25
FLA   2009          363          249        47.60         3305          28
KY    2009          324          180        50.38         1824          13
...    ...          ...          ...          ...          ...         ...
SCAR  2017          395          245        31.10         2794          18
TAMU  2017          449          253        62.67         3266          22
TENN  2017          319          180        43.32         2084          11
UGA   2017          303          186        36.08         2653          24
VAN   2017          403          232        69.30         2923          27

      passing_TD%  passing_Int  passing_Int%  passing_Lg  passing_Sack  \
Team
ALA          1.30            5         12.80         0.0           0.0
ARK          6.50            9          3.65         0.0           0.0
AUB          8.33            9          6.70         0.0           0.0
FLA          7.10            5          0.53         0.0           0.0
KY           1.88           11          1.65         0.0           0.0
...           ...          ...           ...         ...           ...
SCAR         2.30           12          1.50        68.0          29.0
TAMU         3.43           12          1.83       163.0          29.0
TENN         1.63           10          1.80       158.0          35.0
UGA          2.05            9         13.10       100.0          22.0
VAN          3.77           10          0.87       100.0          19.0

      passing_Loss  passing_rate
Team
ALA            0.0         71.88
ARK            0.0        135.85
AUB            0.0        130.43
FLA            0.0        119.70
KY             0.0        142.43
...            ...           ...
SCAR         191.0         65.35
TAMU         184.0        127.97
TENN         242.0         83.88
UGA          150.0         76.20
VAN          120.0        129.63

[134 rows x 13 columns]

In [49]:
rush_path=r"C:\Users\91897\Desktop\cleaned_rushing"
for files_rush in os.listdir(rush_path):
    print(files_rush)

rush1.csv
rush10.csv
rush2.csv
rush3.csv
rush4.csv
rush5.csv
rush6.csv
rush7.csv
rush8.csv
rush9.csv

In [50]:
dfs7= []
for files_rush in os.listdir(rush_path):
        if files_rush.endswith('.csv'):
            # Read the CSV file into a DataFrame
            df7 = pd.read_csv(os.path.join(rush_path,files_rush))
            column_name = 'Player'
            df7 = df7.drop(columns=['Player'])
            # Group by Team and aggregate the data
            grouped7 = df7.groupby('Team').agg({'year':'first','Att':'sum','Gain':'sum','Loss':'sum','Yds':'sum','Avg':'mean','Lg':'sum','TD':'sum'}) 
            grouped7['Avg'] = grouped7['Avg'].round(2)
            # Rename the columns for clarity
            grouped7.columns = ['year','rushing_Att','rushing_Gain','rushing_Loss','rushing_Yds','rushing_Avg','rushing_Lg','rushing_TD']
            # Append the DataFrame to the list
            dfs7.append(grouped7)
combined_df7 = pd.concat(dfs7, ignore_index=False)
print(combined_df7)

      year  rushing_Att  rushing_Gain  rushing_Loss  rushing_Yds  rushing_Avg  \
Team
ALA   2009          575          3261           179         3082         6.71
ARK   2009          326          1825            86         1739         5.72
AUB   2009          498          3001           123         2878        11.63
FLA   2009          538          3349           242         3107         7.68
KY    2009          539          2681           201         2480         4.52
...    ...          ...           ...           ...          ...          ...
SCAR  2017          393          1859           254         1605         5.97
TAMU  2017          472          2364           239         2125         5.93
TENN  2017          322          1548           109         1439         5.58
UGA   2017          639          4141           235         3906         5.55
VAN   2017          306          1438            58         1380         8.18

      rushing_Lg  rushing_TD
Team
ALA          0.0          31
ARK          0.0          21
AUB          0.0          24
FLA          0.0          30
KY           0.0          26
...          ...         ...
SCAR       219.0          16
TAMU       348.0          25
TENN       168.0          13
UGA        333.0          42
VAN        218.0          11

[134 rows x 8 columns]

In [51]:
puntret_path=r"C:\Users\91897\Desktop\cleaned_punt-ret"
for files_puntret in os.listdir(puntret_path):
    print(files_puntret)

puntret1.csv
puntret10.csv
puntret2.csv
puntret3.csv
puntret4.csv
puntret5.csv
puntret6.csv
puntret7.csv
puntret8.csv
puntret9.csv

In [52]:
dfs8= []
for files_puntret in os.listdir(puntret_path):
        if files_puntret.endswith('.csv'):
            # Read the CSV file into a DataFrame
            df8 = pd.read_csv(os.path.join(puntret_path,files_puntret))
            column_name = 'Player'
            df8 = df8.drop(columns=['Player'])
            
            # Group by Team and aggregate the data
            grouped8 = df8.groupby('Team').agg({'year':'first','Num':'sum','Yds':'sum','Avg':'mean','FC':'sum','Lg':'sum','TD':'sum'}) 
            grouped8['Avg'] = grouped8['Avg'].round(2)
            # Rename the columns for clarity
            grouped8.columns = ['year','punt-return_Num','punt-return_Yds','punt-return_Avg','punt-return_FC','punt-return_Lg','punt-return_TD']
            # Append the DataFrame to the list
            dfs8.append(grouped8)
combined_df8 = pd.concat(dfs8, ignore_index=False)
print(combined_df8)

      year  punt-return_Num  punt-return_Yds  punt-return_Avg  punt-return_FC  \
Team
ALA   2009               39              587            12.35             0.0
ARK   2009               14              130            11.21             0.0
AUB   2009               24              117             4.96             0.0
FLA   2009               40              300             7.57             0.0
KY    2009               27              338            10.11             0.0
...    ...              ...              ...              ...             ...
SCAR  2017               19              141             7.42            15.0
TAMU  2017               14              240            14.28            27.0
TENN  2017               14              112             5.69            14.0
UGA   2017               28              283             4.94            31.0
VAN   2017               16              121             8.98            17.0

      punt-return_Lg  punt-return_TD
Team
ALA              0.0               1
ARK              0.0               1
AUB              0.0               0
FLA              0.0               1
KY               0.0               1
...              ...             ...
SCAR            26.0               0
TAMU           117.0               1
TENN            39.0               0
UGA             42.0               0
VAN             26.0               0

[134 rows x 7 columns]

In [10]:
scoring_path=r"C:\Users\91897\Desktop\cleaned_scoring"
for files_scoring in os.listdir(scoring_path):
    print(files_scoring)

scoring10.csv
scoring4.csv
scoring5.csv
scoring6.csv
scoring7.csv
scoring8.csv
scoring9.csv

In [11]:
dfs9= []
for files_scoring in os.listdir(scoring_path):
        if files_scoring.endswith('.csv'):
            # Read the CSV file into a DataFrame
            df9 = pd.read_csv(os.path.join(scoring_path,files_scoring))
            column_name = 'Player'
            df9 = df9.drop(columns=['Player'])
            # Group by Team and aggregate the data
            grouped9 = df9.groupby('Team').agg({'year':'first','Pts': 'sum','Tot': 'sum','R': 'sum','P': 'sum','KR': 'sum','PR': 'sum','IR': 'sum','FR': 'sum','BK': 'sum','BP': 'sum','FGR': 'sum','PAT_successful': 'sum','PAT_total': 'sum','FG_successful': 'sum','FG_total': 'sum','Conv': 'sum','Saf': 'sum'}) 
            # Rename the columns for clarity
            grouped9.columns = ['year','scoring_pts','scoring_tot','scoring_R','scoring_P','scoring_KR','scoring_PR','scoring_IR','scoring_FR','scoring_BK','scoring_BP','scoring_FGR','scoring_PAT_successful','scoring_PAT_total','scoring_FG_successful','scoring_FG_total','scoring_Conv','scoring_Saf']
            # Append the DataFrame to the list
            dfs9.append(grouped9)
combined_df9 = pd.concat(dfs9, ignore_index=False)
print(combined_df9)

        year  scoring_pts  scoring_tot  scoring_R  scoring_P  scoring_KR  \
Team
ALA   2018.0        609.0         82.0       28.0       51.0         1.0
ARK   2018.0        164.0         13.0        3.0       10.0         0.0
AUB   2018.0        299.0         35.0       15.0       19.0         0.0
FLA   2018.0        347.0         41.0       20.0       19.0         0.0
KY    2018.0        277.0         36.0       25.0        9.0         0.0
...      ...          ...          ...        ...        ...         ...
SCAR  2017.0        242.0         29.0       10.0       17.0         2.0
TAMU  2017.0        387.0         47.0       23.0       22.0         1.0
TENN  2017.0        172.0         17.0       11.0        5.0         1.0
UGA   2017.0        473.0         58.0       39.0       19.0         0.0
VAN   2017.0        264.0         36.0       14.0       22.0         0.0

      scoring_PR  scoring_IR  scoring_FR  scoring_BK  scoring_BP  scoring_FGR  \
Team
ALA          1.0         0.0         1.0         0.0         0.0          0.0
ARK          0.0         0.0         0.0         0.0         0.0          0.0
AUB          0.0         0.0         1.0         0.0         0.0          0.0
FLA          1.0         0.0         0.0         0.0         1.0          0.0
KY           2.0         0.0         0.0         0.0         0.0          0.0
...          ...         ...         ...         ...         ...          ...
SCAR         0.0         0.0         0.0         0.0         0.0          0.0
TAMU         1.0         0.0         0.0         0.0         0.0          0.0
TENN         0.0         0.0         0.0         0.0         0.0          0.0
UGA          0.0         0.0         0.0         0.0         0.0          0.0
VAN          0.0         0.0         0.0         0.0         0.0          0.0

      scoring_PAT_successful  scoring_PAT_total  scoring_FG_successful  \
Team
ALA                     75.0               81.0                   14.0
ARK                     29.0               29.0                   19.0
AUB                     44.0               44.0                   15.0
FLA                     50.0               50.0                   17.0
KY                      40.0               40.0                    0.0
...                      ...                ...                    ...
SCAR                    26.0               26.0                   14.0
TAMU                    51.0               52.0                   18.0
TENN                    25.0               25.0                    0.0
UGA                     63.0               63.0                   20.0
VAN                     39.0               40.0                    0.0

      scoring_FG_total  scoring_Conv  scoring_Saf
Team
ALA               18.0           0.0          0.0
ARK               24.0           0.0          0.0
AUB               25.0           0.0          0.0
FLA               19.0           0.0          0.0
KY                 0.0           0.0          0.0
...                ...           ...          ...
SCAR              25.0           0.0          0.0
TAMU              21.0           0.0          0.0
TENN               0.0           0.0          0.0
UGA               23.0           1.0          0.0
VAN                0.0           0.0          0.0

[98 rows x 18 columns]

In [4]:
kickoff_path=r"C:\Users\91897\Desktop\cleaned_kickoff"
for files_kickoff in os.listdir(kickoff_path):
    print(files_kickoff)

kickoff10.csv
kickoff5.csv
kickoff6.csv
kickoff7.csv
kickoff8.csv
kickoff9.csv

In [56]:
dfs10= []
for files_kickoff in os.listdir(kickoff_path):
        if files_kickoff.endswith('.csv'):
            # Read the CSV file into a DataFrame
            df10 = pd.read_csv(os.path.join(kickoff_path,files_kickoff))
            column_name = 'Player'
            df10 = df10.drop(columns=['Player'])
            # Group by Team and aggregate the data
            grouped10 = df10.groupby('Team').agg({'year':'first','Num': 'sum','Yds': 'sum','Avg': 'mean','Lg': 'max','TB': 'sum','OB': 'sum','Ret': 'sum','RYds': 'sum','TD': 'sum'})
            grouped10['Avg'] = grouped10['Avg'].round(2)
            # Rename the columns for clarity
            grouped10.columns = ['year','kickoff_Num','kickoff_Yds','kickoff_Avg','kickoff_Lg','kickoff_TB','kickoff_OB','kickoff_Ret','kickoff_RYds','kickoff_TD']
            # Append the DataFrame to the list
            dfs10.append(grouped10)
combined_df10 = pd.concat(dfs10, ignore_index=False)
print(combined_df10)

      year  kickoff_Num     kickoff_Yds  kickoff_Avg  kickoff_Lg  kickoff_TB  \
Team
ALA   2018          121         6,77454        55.25          75          44
ARK   2018           59           3,387        57.40          76          17
AUB   2018           79        4,408571        63.20          65          56
FLA   2018           88        5,086400        59.95          78          47
KY    2018           66           3,979        60.30          77          36
...    ...          ...             ...          ...         ...         ...
SCAR  2017           67       4,1726545        58.07          65          44
TAMU  2017           81  4,424264145123        56.22          65          34
TENN  2017           51        2,632636        63.90          70          33
UGA   2017           96        6,043128        64.15          74          67
VAN   2017           57        3,440130        63.75          65          38

      kickoff_OB  kickoff_Ret kickoff_RYds  kickoff_TD
Team
ALA            4           41        79728           0
ARK            1           29          608           2
AUB            3           16        26051           0
FLA            0           34        62538           0
KY             0           23          419           0
...          ...          ...          ...         ...
SCAR           2           21       389420           0
TAMU           4           43   7356651111           1
TENN           1           17       267125           0
UGA            0           29        51155           0
VAN            2           17         3500           0

[84 rows x 10 columns]

In [58]:
combined1510=pd.concat([combined_df1,combined_df2,combined_df3,combined_df4,combined_df5,combined_df6,combined_df7,combined_df8,combined_df9,combined_df10],ignore_index=False)
combined151=combined1510.groupby(['Team','year']).sum()
print(combined151)
combined151.to_csv('combined151.csv', index=True)
combined151.to_csv('C:\\Users\\91897\\Downloads\\combined151.csv', index=True)

             punting_Yds  punting_Avg  Total_Punts  punting_Lg  punting_TB  \
Team year
ALA  2009.0       2407.0         41.5         58.0         0.0         0.0
     2010.0       1607.0         39.2         41.0         0.0         0.0
     2011.0       1534.0         39.3         39.0         0.0         0.0
     2012.0       2214.0         44.3         50.0         0.0         0.0
     2013.0       1836.0         47.1         39.0        63.0         6.0
...                  ...          ...          ...         ...         ...
VAN  2014.0       2796.0         42.4         66.0        68.0         7.0
     2015.0       3234.0         40.9         79.0        78.0         3.0
     2016.0       2832.0         41.6         68.0        67.0         6.0
     2017.0       2575.0         40.2         64.0        56.0         4.0
     2018.0       2288.0         44.9         51.0        62.0         6.0

             punting_In20  punting_Blk  punting_Net  punting_Ret  \
Team year
ALA  2009.0           0.0          0.0          0.0          0.0
     2010.0           0.0          0.0          0.0          0.0
     2011.0           0.0          0.0          0.0          0.0
     2012.0           0.0          0.0          0.0          0.0
     2013.0          15.0          1.0         41.5         13.0
...                   ...          ...          ...          ...
VAN  2014.0          19.0          0.0         38.1         22.0
     2015.0          27.0          0.0         34.8         28.0
     2016.0          22.0          2.0         36.8         18.0
     2017.0          14.0          0.0         36.5         16.0
     2018.0          19.0          0.0         40.0         16.0

             punting_RYds  ...  scoring_FG_total  scoring_Conv  scoring_Saf  \
Team year                  ...
ALA  2009.0           0.0  ...               0.0           0.0          0.0
     2010.0           0.0  ...               0.0           0.0          0.0
     2011.0           0.0  ...               0.0           0.0          0.0
     2012.0           0.0  ...               0.0           1.0          0.0
     2013.0          58.0  ...               0.0           0.0          0.0
...                   ...  ...               ...           ...          ...
VAN  2014.0         141.0  ...               0.0           1.0          0.0
     2015.0         422.0  ...               0.0           1.0          0.0
     2016.0         134.0  ...               0.0           0.0          0.0
     2017.0         161.0  ...               0.0           0.0          0.0
     2018.0         130.0  ...              22.0           0.0          0.0

             kickoff_Num  kickoff_Avg  kickoff_Lg  kickoff_TB  kickoff_OB  \
Team year
ALA  2009.0          0.0         0.00         0.0         0.0         0.0
     2010.0          0.0         0.00         0.0         0.0         0.0
     2011.0          0.0         0.00         0.0         0.0         0.0
     2012.0          0.0         0.00         0.0         0.0         0.0
     2013.0         90.0        63.30        65.0        22.0         0.0
...                  ...          ...         ...         ...         ...
VAN  2014.0         44.0        60.33        69.0        13.0         2.0
     2015.0         44.0        58.10        65.0        10.0         3.0
     2016.0         62.0        59.70        70.0        15.0         8.0
     2017.0         57.0        63.75        65.0        38.0         2.0
     2018.0         70.0        63.50        65.0        51.0         1.0

             kickoff_Ret  kickoff_TD
Team year
ALA  2009.0          0.0         0.0
     2010.0          0.0         0.0
     2011.0          0.0         0.0
     2012.0          0.0         0.0
     2013.0         68.0         0.0
...                  ...         ...
VAN  2014.0         26.0         0.0
     2015.0         29.0         0.0
     2016.0         39.0         1.0
     2017.0         17.0         0.0
     2018.0         16.0         0.0

[134 rows x 96 columns]

C:\Users\91897\AppData\Local\Temp\ipykernel_4008\4116708559.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  combined151=combined1510.groupby(['Team','year']).sum()